<p id="notice"><%= notice %></p>

<%= @urls_shorter.inspect %>
   
  
  <%= link_to 'Create another link', new_urls_shorter_path %>

<%= link_to 'Edit', edit_urls_shorter_path(@urls_shorter) %> |
<%= link_to 'Back', urls_shorters_path %>
